node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

.env

dist/
build/
!uploads/.gitkeep

logs
*.log

.DS_Store
Thumbs.db

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

coverage/

tmp/
temp/